html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Open Sans';
}

h2 {
	font-size: 2.3rem;
}

.poke-card {
	max-width: 400px;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
}

.bug-card {
	background-color: #e9ff8f;
	border-color: #498100;
}

.dark-card {
	background-color: #bfb8b0;
	border-color: #1c1108;
}

.dragon-card {
	background-color: #d3b2ff;
	border-color: #4e0b97;
}

.electric-card {
	background-color: #f9ef71;
	border-color: #9d7404;
}

.fairy-card {
	background-color: #ffb0dc;
	border-color: #b7004c;
}

.fighting-card {
	background-color: #ff867a;;
	border-color: #642500;
}

.fire-card {
	background-color: #ff976f;
	border-color: #ad3b0f;
}

.flying-card {
	background-color: #c6caff;
	border-color: #473f74;
}

.ghost-card {
	background-color: #cba9cd;
	border-color: #4b356e;
}

.ground-card {
	background-color: #f5d18f;
    border-color: #8d5c00;
}

.grass-card {
	background-color: #98d779;
	border-color: #2b7407;
}

.ice-card {
	background-color: #c6e2ff;
	border-color: #006bb7;
}

.normal-card {
	background-color: #d5d3c9;
	border-color: #5c5c34;
}

.poison-card {
	background-color: #eba4e8;;
	border-color: #52037a;
}

.psychic-card {
	background-color: #ff99b5;
	border-color: #99014e;
}

.rock-card {
	background-color: #e1c99d;
	border-color: #5e2a05;
}

.steel-card {
	background-color: #cbcbcb;
	border-color: #48434c;
}

.water-card {
	background-color: #B4CBFF;
	border-color: #204eb8;
}

.pixelate {
	image-rendering:pixelated;
	image-rendering:crisp-edges;
	image-rendering:optimizeSpeed;
	image-rendering:optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.sprite-gen-vii {
	width: 120;
	height: 90px;
}

.sprite-gen-viii {
	width: 136px;
	height: 112px;
	margin-top: -25px;
}

.sprite-container {
	width: 120px;
	height: 90px;
}

.stat-bar {
	height: 1.4rem;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}

.stat-40 {
	width: 40px;
	background-color: #ccffa2;
	border-color: #648000;
}

.stat-50 {
	width: 50px;
	background-color: #fffc51;
	border-color: #997700;
}

.stat-60 {
	width: 60px;
	background-color: #FFD12D;
	border-color: #997700;
}

.stat-70 {
	width: 70px;
	background-color: #E2BE3C;
	border-color: #957D00;
}

.stat-80 {
	width: 80px;
	background-color: #E0953D;
	border-color: #854800;
}

.stat-90 {
	width: 90px;
	background-color: #e0793d;
	border-color: #854800;
}

.stat-110 {
	width: 110px;
	background-color: #e0633d;
	border-color: #850900;
}

.stat-130 {
	width: 130px;
	background-color: #F53838;
	border-color: #9C0000;
}

.stat-140 {
	width: 140px;
	background-color: #ff1c1c;
	border-color: #9C0000;
}