html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Open Sans';
}

h2 {
	font-size: 2.3rem;
}

#pick-button {
	font-size: 1.6rem;
	text-transform: capitalize;
	width: 15%;
	min-width: 150px;
}

.poke-card {
	max-width: 400px;
	min-width: 240px;
	border-width: 2px;
	border-radius: 4px;
	border-style: solid;
}

.sprite-gen-vii {
	width: 120;
	height: 90px;
}

.sprite-gen-viii {
	width: 136px;
	height: 112px;
	margin-top: -20px;
}

.previous-pick-gen-vii {
	width: 80px;
	height: 60px;
}

.previous-pick-gen-viii {
	width: 102px;
	height: 84px;
	margin-top: -24px;
	margin-left: -11px;
}

.sprite-container {
	width: 120px;
	height: 90px;
}

.pixelate {
	image-rendering:pixelated;
	image-rendering:crisp-edges;
	image-rendering:optimizeSpeed;
	image-rendering:optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.stat-bar {
	height: 1.6rem;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-color: black;
}

.selected {
	cursor: pointer;
	max-width: 416px;
	border: 2px solid #0d6efd;
	padding:  6px;
	border-radius: 10px;
}

.selectable {
	cursor: pointer;
	max-width: 416px;
	padding: 6px;
	transition: border 0.05s;
	border: 2px solid white;
	border-radius: 10px;
}

.selectable:hover {
	padding: 6px;
	border: 2px solid rgba(13, 110, 253, .5);
	border-radius: 10px;

}

.bug-card {
	background-color: #e9ff8f;
	border-color: #498100;
}

.dark-card {
	background-color: #bfb8b0;
	border-color: #1c1108;
}

.dragon-card {
	background-color: #d3b2ff;
	border-color: #4e0b97;
}

.electric-card {
	background-color: #f9ef71;
	border-color: #9d7404;
}

.fairy-card {
	background-color: #ffb0dc;
	border-color: #b7004c;
}

.fighting-card {
	background-color: #ff867a;;
	border-color: #642500;
}

.fire-card {
	background-color: #ff976f;
	border-color: #ad3b0f;
}

.flying-card {
	background-color: #c6caff;
	border-color: #473f74;
}

.ghost-card {
	background-color: #cba9cd;
	border-color: #4b356e;
}

.ground-card {
	background-color: #f5d18f;
    border-color: #8d5c00;
}

.grass-card {
	background-color: #98d779;
	border-color: #2b7407;
}

.ice-card {
	background-color: #c6e2ff;
	border-color: #006bb7;
}

.normal-card {
	background-color: #d5d3c9;
	border-color: #5c5c34;
}

.poison-card {
	background-color: #eba4e8;;
	border-color: #52037a;
}

.psychic-card {
	background-color: #ff99b5;
	border-color: #99014e;
}

.rock-card {
	background-color: #e1c99d;
	border-color: #5e2a05;
}

.steel-card {
	background-color: #cbcbcb;
	border-color: #48434c;
}

.water-card {
	background-color: #B4CBFF;
	border-color: #204eb8;
}