<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" >
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" >
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<link href="/static/styles.css" rel="stylesheet">
		<title>Pokémon Draft</title>
	</head>
	<body>
		<div class="poke-card grass-card my-3 p-3 container-fluid">
			<div class="row items-align-center">
				<div class="col d-flex flex-column justify-content-center gap-2">
					<div>
						<h2 class="text-center"><strong>Breloom</strong></h2>
					</div>
					<div class="d-flex flex-row justify-content-center gap-3">
						<img src="/static/types/Grass.png" class="pixelate" width="64" height="28">
						<img src="/static/types/Fighting.png" class="pixelate" width="64" height="28">
					</div>
				</div>
				<div class="col d-flex align-items-center justify-content-center">
					<div class="crop-sprite">
						<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-viii/icons/286.png" class="pixelate sprite-gen-viii">
					</div>
				</div>
			</div>
			<hr>
			<h3 class="text-center"><strong>Abilities</strong></h3>
			<div class="row align-tems-center gx-3 text-center">
				<div class="col">
					Effect Spore
				</div>
				<div class="col">
					Poison Heal
				</div>
				<div class="col">
					Technician
				</div>
			</div>
			<hr>
			<h3 class="text-center"><strong>Base Stats</strong></h3>
				<div class="d-flex flex-column pe-5" style="font-family: 'Lato';">
					<div class="row align-items-center">
						<div class="col-2 text-end">
							HP:
						</div>
						<div class="col d-flex justify-content-start">
							<div class="stat-bar stat-60"></div>
						</div>
						<div class="col-1 text-end">
							60
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-2 text-end">
							ATK:
						</div>
						<div class="col d-flex justify-content-start">
							<div class="stat-bar stat-130"></div>
						</div>
						<div class="col-1 text-end">
							130
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-2 text-end">
							DEF:
						</div>
						<div class="col d-flex justify-content-start">
							<div class="stat-bar stat-80"></div>
						</div>
						<div class="col-1 text-end">
							80
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-2 text-end">
							SPA:
						</div>
						<div class="col d-flex justify-content-start">
							<div class="stat-bar stat-60"></div>
						</div>
						<div class="col-1 text-end">
							60
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-2 text-end">
							SPD:
						</div>
						<div class="col d-flex justify-content-start">
							<div class="stat-bar stat-60"></div>
						</div>
						<div class="col-1 text-end">
							60
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-2 text-end">
							SPE:
						</div>
						<div class="col d-flex justify-content-start">
							<div class="stat-bar stat-70"></div>
						</div>
						<div class="col-1 text-end">
							70
						</div>
					</div>
				</div>
				</div>
				<div class="poke-card grass-card my-3 p-3 container-fluid">
					<div class="row items-align-center">
						<div class="col d-flex flex-column justify-content-center gap-2">
							<div>
								<h2 class="text-center"><strong>BRELOOM</strong></h2>
							</div>
							<div class="d-flex flex-row justify-content-center gap-3">
								<img src="/static/types/Grass.png" class="pixelate" width="64" height="28">
								<img src="/static/types/Fighting.png" class="pixelate" width="64" height="28">
							</div>
						</div>
						<div class="col d-flex align-items-center justify-content-center">
							<img src="/static/breloom_menu_icon.png" class="pixelate sprite-gen-vii">
						</div>
					</div>
					<hr>
					<h3 class="text-center"><strong>Abilities</strong></h3>
					<div class="row align-tems-center gx-3 text-center">
						<div class="col">
							Effect Spore
						</div>
						<div class="col">
							Poison Heal
						</div>
						<div class="col">
							Technician
						</div>
					</div>
					<hr>
					<h3 class="text-center"><strong>Base Stats</strong></h3>
						<div class="d-flex flex-column pe-5" style="font-family: 'Lato';">
							<div class="row align-items-center">
								<div class="col-2 text-end">
									HP:
								</div>
								<div class="col d-flex justify-content-start">
									<div class="stat-bar stat-60"></div>
								</div>
								<div class="col-1 text-end">
									60
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-2 text-end">
									ATK:
								</div>
								<div class="col d-flex justify-content-start">
									<div class="stat-bar stat-130"></div>
								</div>
								<div class="col-1 text-end">
									130
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-2 text-end">
									DEF:
								</div>
								<div class="col d-flex justify-content-start">
									<div class="stat-bar stat-80"></div>
								</div>
								<div class="col-1 text-end">
									80
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-2 text-end">
									SPA:
								</div>
								<div class="col d-flex justify-content-start">
									<div class="stat-bar stat-60"></div>
								</div>
								<div class="col-1 text-end">
									60
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-2 text-end">
									SPD:
								</div>
								<div class="col d-flex justify-content-start">
									<div class="stat-bar stat-60"></div>
								</div>
								<div class="col-1 text-end">
									60
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-2 text-end">
									SPE:
								</div>
								<div class="col d-flex justify-content-start">
									<div class="stat-bar stat-70"></div>
								</div>
								<div class="col-1 text-end">
									70
								</div>
							</div>
						</div>
						</div>
	</body>
</html>